<!DOCTYPE html>
<html>
  <title> LeftyDaily - Order</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

  <body>
    <div class="container">
      <form id="order_form">
        <h4>桌號 : <%= table %></h4>
        <h2>Coffee</h2>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="latte" value="latte,120" id="latte">
            拿鐵
          </label>
        </div>

        <h2>Tea</h2>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="blacktea" value="blacktea,90" id="blacktea">
            極地紅茶
          </label>
        </div>

        <h2>Sweet</h2>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="croissants" value="croissants,80" id="croissants">
            可頌
          </label>
        </div>

        <p style="margin-top: 5%"> 金額 :  <samp id="price"> 0 </samp></p>

        <button type="button" class="btn btn-default" style="margin-top:5%" id="submit">提交訂單</button>
      </form>

      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm" style="text-align:center">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
              <p id="submit_msg">

              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>

    </div>
  </body>

  <script>
  var num = <%- JSON.stringify(table) %>;
  </script>

  <script src="../js/box_checked.js"></script>
  <script src="../js/action.js"></script>

</html>
