<!DOCTYPE html>
<html>
<head>
  <title> Lefty Daily - Check </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
</head>

  <body>
    <div class="container">
      <form class="form-inline">
        <h5>桌號 : <%= table %></h5>
        <button id="getdata" type="button" class="btn btn-primary"> 讀取資料 </button>
      </form>
      <br />
      <div id="showdata">

        <ul id="list">

        </ul>
      </div>
    </div>
  </body>

  <script>
  var num = <%- JSON.stringify(table) %>;
  </script>

  <script src="../js/checkout.js"></script>

</html>
