<!DOCTYPE html>
<html>
<head>
  <title> Lefty Daily </title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="../css/style.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

  <body>
    <div class="container">
      <div class="row">
        <button class="col-sm-6 btn" id="table1" >Table 1</button>
        <button class="col-sm-6 btn" id="table3">Table 3</button>
      </div>
      <div class="row">
        <div class="col-sm-6 btn" ></div>
        <button class="col-sm-6 btn" id="table4">Table 4</button>
      </div>
      <div class="row">
        <div class="col-sm-6 btn" ></div>
        <button class="col-sm-6 btn" id="table5">Table 5</button>
      </div>
      <div class="row">
        <button class="col-sm-6 btn" id="table2">Table 2</button>
        <button class="col-sm-6 btn" id="table6">Table 6</button>
      </div>
    </div>
  </body>

  <script src="../js/main.js">


  </script>

</html>
